@source ".";

[gv-drawer-overlay],
[gv-drawer],
[gv-drawer-scrollable],
[gv-drawer-wrapper] {
	--duration: 0.5s;
	--timing-function: cubic-bezier(0.32, 0.72, 0, 1);
	--scroll-bar-shift: var(--removed-body-scroll-bar-size, 0);
}

[gv-drawer-overlay] {
	opacity: 0;
	transition: opacity var(--duration) var(--timing-function);
}

[gv-drawer] {
	transform: translate3d(0, 100%, 0);
}

[gv-drawer],
[gv-drawer-scrollable] {
	transition: transform var(--duration) var(--timing-function);
}

[gv-drawer-wrapper] {
	--border-radius: 8px;
	--offset: 14;

	transform-origin: top center;
	transition-property: transform, border-radius;
	transition-duration: var(--duration);
	transition-timing-function: var(--timing-function);
}

[gv-drawer]::after {
	content: "";
	position: absolute;
	top: calc(100% - 1px);
	background: inherit;
	background-color: inherit;
	left: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}

[gv-drawer-overlay][data-state="closed"],
[gv-drawer][data-state="closed"] {
	animation: fake-animation var(--duration) var(--timing-function);
}

/* This will allow us to not animate via animation, but still benefit from delaying unmount via Radix. */
@keyframes fake-animation {
	from {
	}
	to {
	}
}
